<div class="powerstats">
  <div class="power">
    <p>🧠</p>
    <p>Intelligence</p>
    <p class="badge alert-primary">{{powerstats.intelligence}}</p>
  </div>
  <div class="power">
    <p>💪</p>
    <p>Strength</p>
    <p class="badge alert-primary">{{powerstats.strength}}</p>
  </div>
  <div class="power">
    <p>🏃</p>
    <p>Speed</p>
    <p class="badge alert-primary">{{powerstats.speed}}</p>
  </div>
  <div class="power">
    <p>🔋</p>
    <p>Durability</p>
    <p class="badge alert-primary">{{powerstats.durability}}</p>
  </div>
  <div class="power">
    <p>✊</p>
    <p>Power</p>
    <p class="badge alert-primary">{{powerstats.power}}</p>
  </div>
  <div class="power">
    <p>👊</p>
    <p>Combat</p>
    <p class="badge alert-primary">{{powerstats.combat}}</p>
  </div>
</div>