.team-stats {
  padding: 0 1rem;
  margin-bottom: 2rem;
  p {
    text-align: center;
  }

  .stat-type {
    p {
      text-align: center;
      &.fs-1 {
        text-transform: capitalize;
      }
    }
  }
}