<app-toolbar title="Your team"></app-toolbar>

<div class="container p-4">

  <app-requirement-alerts>  </app-requirement-alerts>

  <app-team-stats [heroes]="heroes"></app-team-stats>

  <div class="members">
    <p class="fs-1 fw-bold">Members</p>
    <a class="add-hero" (click)="navigateToAddHero()">Add</a>
  </div>

  <div *ngIf="heroes.length !== 0; else placeholder">
    <app-members [heroes]="heroes" (deleteHero)="deleteHero($event)" (seeDetailHero)="openHeroDetail($event)"></app-members>
  </div>

  <div class="modal" [ngStyle]="{'display': modalDisplay}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Hero detail</h4>
        </div>
        <div class="modal-body">
          <div class="powerstats" *ngIf="selectedHero">
            <div class="power">
              <div class="header">
                <p>⚖</p>
                <p>Weight (in kg)</p>
              </div>
              <p class="badge alert-primary">{{selectedHero.appearance.weight[1]}}</p>
            </div>
            <div class="power">
              <div class="header">
                <p>📏</p>
                <p>Height (in cm)</p>
              </div>
              <p class="badge alert-primary">{{selectedHero.appearance.height[1]}}</p>
            </div>
            <div class="power">
              <!-- It should be 'sex' instead of 'gender' here though -->
              <div class="header">
                <p>{{selectedHero.appearance.gender === 'Male' ? '🙍‍♂️' : '🙍'}}</p>
                <p>Name</p>
              </div>
              <p class="badge alert-primary">{{selectedHero.biography['full-name']}}</p>
            </div>
            <div class="power">
              <div class="header">
                <p>{{selectedHero.appearance.gender === 'Male' ? '🦸‍♂️' : '🦸‍♀️'}}</p>
                <p>A.K.A</p>
              </div>
              <p class="badge alert-primary">{{selectedHero.name}}</p>
            </div>
            <div class="power">
              <div class="header">
                <p>👁</p>
                <p>Eye color</p>
              </div>
              <p class="badge alert-primary">{{selectedHero.appearance['eye-color']}}</p>
            </div>
            <div class="power">
              <div class="header">
                <p>🧔</p>
                <p>Hair color</p>
              </div>
              <p class="badge alert-primary">{{selectedHero.appearance['hair-color']}}</p>
            </div>
            <div class="power">
              <div class="header">
                <p>💼</p>
                <p>Base (s)</p>
              </div>
              <p class="badge alert-primary text-wrap">{{selectedHero.work.base}}</p>
            </div>
          </div>
          <button class="btn btn-primary" (click)="closeHeroDetail()">Close detail</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #placeholder>
    <div class="container heroes-placeholder row col-12 col-lg-6 align-self-center">
      <div class="col-0 col-lg-6">
      </div>
      <div class="col-12 col-lg-6">
        <p class="fs-4">There are no heroes in your team</p>
        <button class="btn btn-primary col-12" (click)="navigateToAddHero()">Add members</button>
      </div>
    </div>
  </ng-template>
</div>
