.container {
  margin-bottom: 3rem;

  .modal {
    scroll-behavior: auto;
    overflow-y: auto;

    .powerstats {
      width: 100%;
      margin-top: 1rem;
      .power {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        .header {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
        }

        .badge {
          width: fit-content;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }

  .members {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .add-hero {
      color: rgb(20, 74, 145);
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  .heroes-placeholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    p {
      text-align: center;
    }
  }
}
